aiofiles
aiohttp
aria2p
async_generator
asyncurban
base
beautifulsoup4
bitlyshortener
bs4
cffi
coffeehouse
colour
covid
cowpy
cryptg
csvfaker
dnspython
emoji
fontTools
geopy
git+https://github.com/ahupp/python-magic
git+https://github.com/johnwmillr/LyricsGenius.git
git+https://github.com/LonamiWebs/Telethon
git+https://github.com/voins/google-images-download.git@2cd68173c961324a2c41c61e8b6f40a49663ce60
gitpython
glitch_this
google_images_download>=2.7.1
google-api-python-client==1.8.0
google-auth-oauthlib
googletrans==4.0.0rc1
gTTS
gTTS-token
hachoir
heroku3
html_telegraph_poster
httplib2
humanize 
jikanpy
jotquote
justwatch
lottie
lxml
lyricsgenius
markdown
motor
oauth2client
patool
Pillow
pip
psutil
psycopg2
psycopg2-binary
pyaztro
pybase64
pyDownload
PyDrive2
pyfiglet   
PyGithub
pylast
pymongo[srv]
PyPDF2
pySmartDL
py-tgcalls
python-barcode
python-dateutil
python-dotenv
pytube
pytz
qrcode
redis
REPO_LINK
requests
search-engine-parser
selenium 
setuptools
speedtest-cli>=2.0.2
sqlalchemy==1.2
telegraph
telethon
telethon-session-sqlalchemy
telethon-tgcrypto
TgCrypto
twitter_scraper
urbandict
validators
vcsi
wand
wget
wheel
wikipedia
youtube_search
youtube-search-python==1.4.9
youtube-dl
zipfile38
markdown
